<div>
  <h2>Agregar Cliente</h2>
  <form (ngSubmit)="guardarCliente()">
    <input type="text" [(ngModel)]="cliente.sharedKey" name="sharedKey" placeholder="SharedKey" required>
    <input type="text" [(ngModel)]="cliente.businessId" name="businessId" placeholder="BusinessId" required>
    <input type="text" [(ngModel)]="cliente.email" name="email" placeholder="Email" required>
    <input type="text" [(ngModel)]="cliente.phone" name="phone" placeholder="Phone" required>
    <input type="text" [(ngModel)]="cliente.dataAdded" name="dataAdded" placeholder="DataAdded" required>
    <button type="submit">Guardar</button>
    <button type="button" (click)="cancelarCliente()" >Cancelar</button>
  </form>
</div>
 