.agregar-producto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input, select {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  margin: 10px 0;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.guardar-btn {
  background-color: #28a745;
}

.guardar-btn:hover {
  background-color: #218838;
}

.cancelar-btn {
  background-color: #dc3545;
}

.cancelar-btn:hover {
  background-color: #c82333;
}

h2 {
  color: #333;
}
