.lista-productos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-toolbar {
  display: flex;
  justify-content: start;
  width: 80%;
  margin-top: 90px;
  margin-bottom: 10px;
}

.bottom-toolbar{
  display: flex;
  margin-right: 40%;
  width: 40%;
  margin-bottom: 10px;
}

.btnNew, .btnExport, .btnAdvancedSearch {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.input-filtro {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  flex-grow: 1; 
}

h1 {
  color: #1080f7;
  margin-right: 73%;
  margin-top: 20px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  color: black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}