<div class="lista-productos-container">
    <div class="top-toolbar">
        <button class="btnNew" (click)="mostrarFormularioAgregar()">+ New</button>
        <button class="btnExport" (click)="exportarClientesCSV()">Export</button>
      </div>
      <div class="bottom-toolbar">
        <input class="input-filtro" [(ngModel)]="filtro" (keyup.enter)="buscarClientes()" type="text" placeholder="Enter shared key">
        <button class="btnAdvancedSearch">Advanced Search</button>
      </div>
  <h1>Clients</h1>
  <table>
    <tr>
      <th>SharedKey</th>
      <th>BusinessId</th>
      <th>E-mail</th>
      <th>Phone</th>
      <th>DataAdded</th>
    </tr>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.sharedKey }}</td>
      <td>{{ cliente.businessId }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.phone }}</td>
      <td>{{ cliente.dataAdded }}</td>
    </tr>
  </table>
</div>
<div class="modal-backdrop" *ngIf="mostrandoFormulario">
  <add-client *ngIf="mostrandoFormulario" (nuevoCliente)="agregarCliente($event)" (cancelar)="mostrandoFormulario = false"></add-client>
</div>